<nav class="flex justify-between p-5 border-b-2 border-blue-900 shadow shadow-blue-700 text-slate-50 items-baseline">
    <h1 class="text-3xl font-bold">MyTeam</h1>
    <ul class="flex gap-x-3 text-blue-600 font-semibold">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/service">Service</a></li>
        <li><a href="/login" class="pl-2 border-l border-white py-1">Log In</a></li>
        <li><a href="/signup" class="px-2 py-1 rounded-lg text-errie bg-blue-600">Signup</a></li>
    </ul>
</nav>