<%- include('layouts/header') %>
<%- include('layouts/nav') %> 
<div class="container flex flex-col pt-8">
    <h1 class="font-bold text-4xl text-center font-poppins mt-5"><span class="text-blue-700">Who</span> is MyTeam</h1>
    <div class="w-4/5 mx-auto mt-7">
        <p class="text-center font-semibold">MyTeam is a group of 4 people member with software engineer background, our task is to make our client reach their dream stylish, modern, and interactive website</p>
    </div>
</div>


<%- include('layouts/footer') %> 