<%- include('layouts/header') %> 
<%- include('layouts/nav') %> 
    <div class="container flex flex-col pt-8">
        <h1 class="font-bold text-4xl text-center font-poppins mt-5"><span class="text-blue-700">FreeLance</span> software engineer</h1>
        <p class="font-poppins text-center font-extralight mt-2">Find your dream website by using our service</p>
        <div class="mx-auto flex mt-10 w-fit">
            <img src="/img/gambar3.jpg" class="w-[400px] h-[300px] z-20">
            <img src="/img/gambar1.jpg" class="w-[400px] h-[300px] z-0">
        </div>

    </div>

<%- include('layouts/footer') %> 