<%- include('layouts/header') %>
<%- include('layouts/nav') %> 
<div class="container flex flex-col pt-8">
    <h1 class="font-bold text-4xl text-center font-poppins mt-5">Our <span class="text-blue-700">Service</span></h1>
    <ul class="flex w-4/5 mx-auto mt-10 gap-x-20">
        <li><img src="/svg/jvscript.svg"></li>
        <li><img src="/svg/typescript.svg"></li>
        <li><img src="/svg/nodejs.svg"></li>
        <li><img src="/svg/webpack.svg"></li>
        <li><img src="/svg/java.svg"></li>
    </ul>
</div>


<%- include('layouts/footer') %> 